[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/vimclojure"]
	path = vim/bundle/vimclojure
	url = https://github.com/gaverhae/vimclojure.git
[submodule "vim/bundle/vim-powerline"]
	path = vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/tslime"]
	path = vim/bundle/tslime
	url = https://github.com/jgdavey/tslime.vim.git
[submodule "vim/bundle/vim-ruby"]
	path = vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
