Xft.dpi:        96
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

xscreensaver.newLoginCommand: dm-tool switch-to-greeter

URxvt.scrollBar: false
URxvt.font: xft:Inconsolata\\-dz:size=11

URxvt.perl-ext-common: clipboard,default,matcher

URxvt.iso14755: false
URxvt.keysym.C-C: perl:clipboard:copy
URxvt.keysym.C-V: perl:clipboard:paste

URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1
