Xft.dpi:        96
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

xscreensaver.newLoginCommand: dm-tool switch-to-greeter

URxvt.scrollBar: false
URxvt.font: xft:Inconsolata\\-dz:size=11

URxvt.perl-ext-common: clipboard,default,matcher

URxvt.iso14755: false
URxvt.keysym.C-C: perl:clipboard:copy
URxvt.keysym.C-V: perl:clipboard:paste

URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1
!URxvt.colorUL: #0077BE

!TomorrowNight
*.foreground:   #c5c8c6
*.background:   #1d1f21
*.cursorColor:  #aeafad

! Black / Grey
*.color0:       #000000
*.color8:       #666666

! Red / Bright Red
*.color1:       #cc6666
*.color9:       #FF3334

! Green + Bright Green
*.color2:       #b5bd68
*.color10:      #9ec400

! Yellow (Orange) + Bright Yellow (Yellow)
*.color3:       #de935f
*.color11:      #f0c674

! Blue + Bright Blue
*.color4:       #81a2be
*.color12:      #81a2be

! Magenta (Purple) + Bright Magenta
*.color5:       #b294bb
*.color13:      #b777e0

! Cyan (Aqua) + Bright Cyan
*.color6:       #8abeb7
*.color14:      #54ced6

! Light Grey (Selection) + White (Current Line)
*.color7:       #888888
*.color15:      #282a2e 
